/* header */

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        /* padding: 0 1rem; */
        max-width: 690px;
    }
    #header {
        /* display: none; */

    }
    .header-menu {
        max-height: 57px;
        width: 100%;
    }   
    .header-menu .header-menu-logo img {
        width: 5.25rem;
        height: 1.5rem;
    }
    .mobile-navigation {
        background-color: rgb(17,24,32);
        z-index: 10;
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        transition: ease 0.3s;
    } 

    .mobile-navigation.show {
        width: 100%;
        padding: 1rem;;
    } 
    .mobile-navigation .mobile-navigation-wrapper {
        position: relative;
    }
    .mobile-navigation-treemenu-wrapper-list-content {
        width: 50%;
        overflow: hidden;
        position: absolute;
        top: 46px;  
        background-color: rgb(17,24,32);
        transition: ease 0.3s;
        right: 0;
        height: 100%;
        opacity: 0;
        z-index: 0;

    }
    .mobile-navigation-treemenu-wrapper-list-content.show {
        width: 100%;
        display: block;
        opacity: 1;
        z-index: 100;
    }

    .mobile-menu-icon {
        position: fixed;
        right: 0;
        top: 0;
        padding: 16px;
        z-index: 100;
        cursor: pointer;
    }
    
    .header-menu .header-menu-nav, 
    .header-menu .header-menu-language {
        display: none;
    }

    .mobile-menu-icon>span{
        width: 18px;
        height: 2px;
        display: block;
        background-color: rgb(4,169,20);
        margin: 6px;
        transition: 0.3s;
    }
    .change .menu-icon-bar1 {
        transform: translate(0, 7px) rotate(-45deg);

      }
      
    .change .menu-icon-bar2 {opacity: 0;}
      
    .change .menu-icon-bar3 {
        transform: translate(0, -7px) rotate(45deg);
      }


    .mobile-navigation .mobile-navigation-logo img {
        width: 5.25rem;
        height: 1.5rem;
    }
    .mobile-navigation a, 
    .mobile-navigation-language-select span {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        line-height: 1.5rem;
    }

    
    .mobile-navigation a {
        font-size: 24px;
        line-height: 2rem;
    }
    .mobile-navigation-language  {
        z-index: 10;
        position: relative;
        cursor: pointer;
    }
    .mobile-navigation-language .mobile-navigation-language-select {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 28px 0;
    }
    .mobile-navigation-language-select .fa-solid.fa-angle-down {
        transition: all ease-out 0.3s;
    }
    .mobile-navigation-language-select i {
        color: #fff;
        margin-left: 6px;
    }
    .mobile-navigation-language-switcher {
        display: flex;
        justify-content: space-between;
    }
    .mobile-navigation-language-switcher.hidden {
        display: none;
    }
    .mobile-navigation-language-switcher li {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding: 11px 16px;
        border: 1px solid rgb(4,169,20);
        border-radius: 24px;
        margin-top: 16px;
    }
    .mobile-navigation-language-switcher li:last-child {
        margin-left: 16px;
    }
    .mobile-navigation-language-switcher li a {
        color: rgb(4,169,20);
        font-size: 16px;
        line-height: 1.5rem;
        font-weight: 550;
    }
    .mobile-navigation-treemenu {
        margin-top: 24px;
    }
    .mobile-navigation-treemenu-wrapper li {
        margin-bottom: 24px;
        color: #fff;
        list-style-type: none;
    }
    .mobile-navigation-treemenu-wrapper i {
        font-size: 12px;
        margin-left: 6px;
    }
    .mobile-navigation-treemenu-wrapper-list-content .treemenu-wrapper-list-content-title {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 2rem;
        padding: 16px;
        border-bottom: 1px solid #e8e8e8;
        font-weight: 550;
    }
    .treemenu-wrapper-list-content-title p {
        margin-left: 6px;
    }
    .treemenu-wrapper-list-content-title i {
        margin-right: 8px;
        font-size: 16px;

    }
    .mobile-navigation-treemenu-wrapper-list-content {
        /* display: none; */
    }
    .treemenu-wrapper-list-content.services .services-list li {
        margin: 0 0 24px 40px;

    }
    .treemenu-wrapper-list-content .list-items {
        margin-top: 24px;
        padding-left: 38px;
    }
    .list-items li a {
        font-size: 18px;
        color: #fff;
    }

    /* main responsive */

    #main {
        margin-top: 3.7rem;
    }
    .banner-full {
        margin-bottom: 7rem;
    }
    .banner-full .banner-dots {
        z-index: 0;
    }
    .banner-slide-show {
        max-height: 480px;
    }
    .banner-slide-show>img {
        max-height: 480px;
    }
    .banner-slide-first-content .banner-slide-first-content-inside, 
    .banner-slide-second-content .banner-slide-second-content-inside {
        width: 45%;
    }
    .banner-slide-first-content-inside h1, 
    .banner-slide-second-content-inside h1 {
        font-size: 2.25rem;
        line-height: 1.2;
    }
    .banner-slide-first-content p, 
    .banner-slide-second-content p {
        font-size: 1.25rem;
        line-height: 1.2;
        margin: 16px 0 32px 0;
    }
    .banner-slide-first-content-inside .banner-slide-first-button, 
    .banner-slide-second-content-inside .banner-slide-second-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-slide-first-button button, 
    .banner-slide-second-button button {
        width: 84%;
        margin: 0 auto;
    }
    .banner-slide-first-button button:first-child, 
    .banner-slide-second-button button:first-child {
        margin-bottom: 16px;
    }

    /* information  */
    #information .information-content {
        flex-direction: column;
    }
    #information .information-content>div {
        width: 100%;
    }
    .information-content .information-text {
        margin-top: 1rem;
    }
    .information-content .information-text>p {
        font-size: 1rem;
        line-height: 24px;
    }
    .information-content .information-image img {
        border-radius: 16px;
    }



    /* service  */
    .service-wraper-list {
        width: fit-content;
    }
    .service-wraper-list .lists {
        width: 700px;
        overflow: hidden;
        display: flex;

    }
    .service-wraper-list-items {
        display: flex;
        flex: 1 0 100%;  
        transition: ease 0.3s;
        justify-content: flex-start;
        padding: 8px;
        width: 670px;
        transform: translateX(0);
    } 
    .service-wraper-list-items .service-wraper-list-items-flex {
        display: flex;
        padding: 0;
        column-gap: 0;
    }   
    .service-wraper-list-items .list-items-card {
        width: 84vw;
        height: 195px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2rem;
    }
    
    .list-items-card .list-items-card-image img {
        width: 100%;
        object-fit: cover;
    }
    .list-items-card-text .list-items-card-text-top h1 {
        font-size: 16px;
        line-height: 1.33rem;   
    }
    
    .list-items-card-text-bottom .list-items-card-text-review p {
        font-size: 14px;
        line-height: 1rem;
    }
    .service-wraper-content .service-dots {
        display: flex;
        justify-content: center;
        opacity: 1;
    } 
    .service-wraper-content .service-dots .dot-box {
        width:0.5rem;
        height: 0.5rem;
        display: inline-block;
        background-color: rgb(232,232,232);
        border-radius: 50%;
        margin:0.2rem;
        cursor: pointer;
    }
    .service-dots .dot-box.active {
        background-color: rgb(4,169,20);
    } 
    .service-wraper-content .service-wraper-content-title {
        margin: 5rem 0 2rem 0;
    }

    /* how to  */
    .how-to .how-to-content .how-to-content-slide {
        width: 50%;
        overflow: hidden;
    }
    .how-to-content .how-to-content-step>div {
        width: 100%;
    }
    .how-to-content-step-number-content .how-to-content-step-number-content-title {
        margin: 0;
    }
    .how-to-content-step-number-content-title p {
        font-size: 18px;
        line-height: 1.6785rem;
        margin-bottom: 8px;
    }
    .how-to-content-step-number-content .how-to-content-step-number-content-title-text {
        padding-left: 10px;
    }
    .how-to-content-step-number-content-title-text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .how-to-content-step-number .how-to-content-step-number-content {
        width: inherit;
    }
    .how-to-content-slide .slide-lists {
        display: flex;
        width: 100%;
        /* justify-content: flex-end; */
        transition: 0.01s;
    }
    .how-to-content-slide .slide-lists .slide-lists-image {
    }
    .how-to-content-slide img:not(:first-child) {
        display: block;
    }
    .how-to-content-slide img {
        width: 345px;
        height: 384px;
    }


    /* information */
    .information-content .information-text .information-button {
        font-size: 12px;
        padding: 10px 8px;
    }

    /* footer */ 

    .footer-top .footer-top-column {
        display: flex;
        flex-direction: column;
    }
    .footer-top .footer-top-column .column-right {
        display: block;
        width: 100%;
    }
    .column-right .column-right-wraper {
        display: flex;
    }
    .column-right .column-right-wraper>div {
        width: 50%;
    }
    .column-download .column-app {
        display: flex;
        justify-content: space-between;
    }
    .column-download .column-app>a {
        display: inline-block;
        width: 50%;
    }
    .column-download .column-app>a img {
        width: 95%;
        margin: 0;
    }
    .footer-bottom .footer-bottom-wraper {
        justify-content: space-between;
    }
    .footer-top-column .column-right {
        margin-top: 2.3rem;
    }
    .column-info-right .info-right-image {
        display: flex;
        justify-content: space-between;
    }
    .column-info-right .info-right-image img {
        width: 42%;
    }
    .footer-middle-info .column-info-right {
        width: 45%;
    }
    .footer-bottom .footer-bottom-wraper .footer-toggle {
    }
    
    .footer-bottom-wraper .footer-toggle {
        width: 50%;
        display: block;

    }
    .footer-bottom-wraper .footer-toggle .footer-toggle.location, 
    .footer-bottom-wraper .footer-toggle .footer-toggle.language {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .footer-toggle-option {
        width: 90%;
       
    }
    .footer-bottom-wraper .footer-toggle .footer-toggle.language {
        margin: 24px 0 0 0;
    }
    .footer-toggle-option .option-wraper i {
        float: right;
    }
    #footer .footer-wraper {
        padding: 40px 0;
    }
    .footer-toggle-option .select-drop {
        width: 92%;
        right: 0;
    }

    .mobile-menu.hidden {
        display: block;
    }














    .how-to-content .how-to-content-slide {
        /* display: none; */
    }

     /* .mobile-navigation-treemenu-wrapper-list-content {
        display: block;
        position: relative;
        top: -154px;
        left: 0;
        background-color: red;
    }  */

    
}
